<!DOCTYPE html>
<html>
<head>
  <title>Players</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '941903395931927',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/es_LA/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  <header id="home" class="hero">
        <div class="hero-body">
            <div class="hero-text text-center">
                <a href='<%= root_path %>'> <%= image_tag "logo-horizon.png", 'class' => 'img-responsive' %> </a>
                <!-- //.page-scroll -->
            </div>
            <!-- //.hero-text -->
        </div>
        <!-- //.hero-body -->
    </header>

<%= render "layouts/navbar" %>

<div class="col-lg-12">
  <div class="container">
    <% if user_signed_in? %>
    <br>
      <%= render "layouts/user_navbar" %>
    <% end %>
    <div class="row">
      <hr>
          <%= yield %>
      <hr>
    </div>
  </div>
</div>
  <%= render "layouts/footer" %>
</body>
<script src="<%= root_path %>application.js" data-turbolinks-track="true"></script>
</html>
